
  .search-panel{
    width: 78%;
    padding: 30px;
    /* align-items: center; */
    /* margin-top: 12px; */
    /* overflow: hidden; */
  }
 
  .button{
    padding: 5px;
    font-size: 1.1rem;
    /* font-weight: bold; */
  }
  .container{
    display: grid;
    grid-template-columns: auto auto;
    /* justify-items: center; */
    gap: 1em;
    width: auto;
    margin-top: 10px;
    /* padding-left: 0; */
    
   
  }
  li{
    list-style: none;
    padding: 10px;
    
    background: gray;
    width: 30%;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.2);
    
  }
  